<?xml version="1.0"?>
<config>
    <modules>
        <training_hello>
            <version>0.1.0</version>
        </training_hello>
    </modules>
    <frontend>
        <routers>
            <training_hello>
                <use>standard</use>
                <args>
                    <module>training_hello</module>
                    <frontName>hellomodule</frontName>
                </args>
            </training_hello>
        </routers>
    </frontend>
    <global>
        <models>
            <training_hello>
                <class>training_hello_Model</class>
                <resourceModel>training_hello_resource</resourceModel>
            </training_hello>
            <training_hello_resource>
                <class>training_hello_Model_Resource</class>
            </training_hello_resource>
        </models>
        <blocks>
            <training_hello>
                <class>training_hello_Block</class>
            </training_hello>
        </blocks>
        <helpers>
            <training_hello>
                <class>training_hello_Helper</class>
            </training_hello>
        </helpers>
        <resources>
            <training_hello_setup>
                <setup>
                    <module>training_hello</module>
                </setup>
            </training_hello_setup>
        </resources>
    </global>
</config>