<?xml version="1.0"?>
<config>
    <modules>
        <Training_Demo1>
            <version>0.1.0</version>
        </Training_Demo1>
    </modules>
    <frontend>
        <routers>
            <training_Demo1>
                <use>standard</use>
                <args>
                    <module>Training_Demo1</module>
                    <frontName>demo1</frontName>
                </args>
            </training_Demo1>
        </routers>

    </frontend>
    <global>
        <models>
            <training_demo1>
                <class>Training_Demo1_Model</class>
                <resourceModel>training_demo1_resource</resourceModel>
            </training_demo1>
            <training_demo1_resource>
                <class>Training_Demo1_Model_Resource</class>
            </training_demo1_resource>
        </models>
        <blocks>
            <training_demo1>
                <class>Training_Demo1_Block</class>
            </training_demo1>
        </blocks>
        <helpers>
            <training_demo1>
                <class>Training_Demo1_Helper</class>
            </training_demo1>
        </helpers>
        <resources>
            <training_demo1_setup>
                <setup>
                    <module>Training_Demo1</module>
                </setup>
            </training_demo1_setup>
        </resources>
    </global>
</config>