<?xml version="1.0"?>
<config>
    <modules>
        <Training_Student>
            <version>0.1.0</version>
        </Training_Student>
    </modules>
    <frontend>
        <routers>
            <student>
                <use>standard</use>
                <args>
                    <module>Training_Student</module>
                    <frontName>student</frontName>
                </args>
            </student>
        </routers>
        <layout>
            <updates>
                <student>
                    <file>student.xml</file>
                </student>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <training_student>
                <class>Training_Student_Model</class>
                <resourceModel>training_student_resource</resourceModel>
            </training_student>
            <training_student_resource>
                <class>Training_Student_Model_Resource</class>
                <entities>
                    <eavblogpost>
                        <table>eavblog_posts</table>
                    </eavblogpost>
                </entities>
            </training_student_resource>
        </models>
        <blocks>
            <training_student>
                <class>Training_Student_Block</class>
            </training_student>
        </blocks>
        <helpers>
            <training_student>
                <class>Training_Student_Helper</class>
            </training_student>
        </helpers>
        <resources>
            <training_student_setup>
                <setup>
                    <module>Training_Student</module>
                    <class>Training_Student_Model_Resource_Setup</class>
                </setup>
            </training_student_setup>
        </resources>
    </global>
</config>