<?xml version="1.0"?>
<config>
    <modules>
        <Training_GlobalObserver>
            <version>0.1.0</version>
        </Training_GlobalObserver>
    </modules>

    <frontend>
        <routers>
            <globalobserver>
                <use>standard</use>
                <args>
                    <module>training_globalobserver</module>
                    <frontName>gb</frontName>
                </args>
            </globalobserver>
        </routers>
    </frontend>
</config>