<?xml version="1.0"?>
<config>
    <modules>
        <training_weblog>
            <version>0.1.0</version>
        </training_weblog>
    </modules>
    <frontend>
        <routers>
            <training_weblog>
                <use>standard</use>
                <args>
                    <module>training_weblog</module>
                    <frontName>weblog</frontName>
                </args>
            </training_weblog>
        </routers>
        <layout>
            <updates>
                <training_weblog>
                    <file>weblog.xml</file>
                </training_weblog>
            </updates>
        </layout>
    </frontend>

    <global>
        <models>
            <training_weblog>
                <class>training_weblog_Model</class>
                <resourceModel>training_weblog_resource</resourceModel>
            </training_weblog>
            <training_weblog_resource>
                <class>training_weblog_Model_Resource</class>
            </training_weblog_resource>
        </models>
        <blocks>
            <training_weblog>
                <class>training_weblog_Block</class>
            </training_weblog>
        </blocks>
        <helpers>
            <training_weblog>
                <class>training_weblog_Helper</class>
            </training_weblog>
        </helpers>
        <resources>
            <training_weblog_setup>
                <setup>
                    <module>training_weblog</module>
                </setup>
            </training_weblog_setup>
        </resources>
    </global>
</config>